<div class="div1">
    <h1>Perfil</h1>
    <h3>ANALISTA Y DESARROLLADORA DE SISTEMAS DE INFORMACIÓN</h3>
    <img src="https://img.freepik.com/foto-gratis/resumen-bombilla-creativa-sobre-fondo-azul-brillante-ia-generativa_188544-8090.jpg?size=626&ext=jpg&ga=GA1.1.1687694167.1704153600&semt=sph" width="200" height="250" id="image">
    <div class="aboutMe">
        <h2>Acerca de mi</h2>
        <p>Tecnólogo en Análisis y Desarrollo de Sistemas de Información,capacitada para el diseño, análisis e implementación de programas, así cómo su mantenimiento en ambiente Windows o web.</p>
        <p>Capacitada para liderar, planear, coordinar, implementaro adaptar un sistema informático para optimizar el funcionamiento de los procesos en la compañía de forma más rápida y eficiente...</p>
    </div>
</div>
<div class="div2">
    <h1>Detalles</h1>
    <h3>Nombre:</h3>
    <h5>Maria Quito</h5>
    <h3>Edad:</h3>
    <h5>19 Años</h5>
    <h3>Ciudad:</h3>
    <h5>Bogotá, Colombia</h5>
    <div id="FinalIcon">
        <i class="fa-brands fa-instagram" style="color: #cd1d96;" id="FIcon"></i>
        <i class="fa-brands fa-facebook" id="FIcon"></i>
        <i class="fa-brands fa-twitter" style="color: #74C0FC;" id="FIcon"></i>
    </div>
   
</div>
