<header class="header">
  <div class="menuH">
      <h1>My Profile</h1>
      <div id="icons">
        <i class="fa-brands fa-instagram" style="color: #cd1d96;" id="ico"></i>
        <i class="fa-brands fa-facebook" id="ico"></i>
        <i class="fa-brands fa-twitter" style="color: #74C0FC;" id="ico"></i>
      </div>
      <input type="checkbox">
      <i class="fas fa-bars"></i>
      <i class="fas fa-times"></i>
      <nav>
        <ul>
          <a [routerLink]="[]">Página 1</a>
          <a [routerLink]="[]">Página 2</a>
          <a [routerLink]="[]">Página 3</a>
        </ul>
      </nav>
    </div>
</header>

<router-outlet></router-outlet>

<footer class="footer">
  <h4>Un pequeño ejemplo de mi perfil profesional</h4>
</footer>